Repository semi-project-team/PSMC, pull requests merged in 2024-04, with the labels that each got.

#24 all
  HTML/login/log.css
  HTML/main/main.css
  HTML/main/main.html
  HTML/nav/nav.css
  HTML/nav/nav.html
  image/50.png
  image/psmc2-removebg-preview.png
  image/psmc2.png
Labels: 🎨Html&css

#25 아이콘도 a 태그로 감싸았습니다
  HTML/Terms/Term.css
  HTML/Terms/Term.html
  HTML/Terms/Term.js
  HTML/common/img/backLogo.png
  HTML/common/img/main.png
  HTML/common/img/nobackLogo.png
  HTML/login/log.html
  HTML/main/main.css
  HTML/nav/nav.css
  HTML/nav/nav.html
  HTML/nav/nav.js
Labels: 🎨Html&css

#28 약관 페이지 완성
  HTML/Terms/Term.css
  HTML/Terms/Term.html
  HTML/Terms/Term.js
  HTML/Terms/TermFinal.html
  HTML/common/Term/header/header.html
  HTML/login/log.css
  HTML/nav/nav.css
  HTML/nav/nav.html
Labels: 🎨Html&css

#29 체크 박스 논리구조 일부 수정
  HTML/Terms/Term.css
  HTML/Terms/Term.js
Labels: 🔨Refactor

#30 RegisterReq 80% 와성
  HTML/Terms/Term.css
  HTML/Terms/TermFinal.html
  HTML/common/Term/header/header.html
  HTML/login/log.html
  HTML/registerReq/registerReq.css
  HTML/registerReq/registerReq.html
  HTML/registerReq/registerReq.js
Labels: 🎨Html&css

#31 regist request update
  HTML/registerReq/registerReq.css
  HTML/registerReq/registerReq.html
Labels: 🎨Html&css

#44 register Req 생일 입력 제외 끝
  HTML/Terms/TermFinal.html
  HTML/login/log.html
  HTML/registerReq/registerReq.css
  HTML/registerReq/registerReq.html
  HTML/registerReq/registerReq.js
Labels: 🐞BugFix🔧, 🎨Html&css

#45 #27 close
  HTML/registerReq/registerReq.js
Labels: ✨Feature, 🎨Html&css
